@charset "utf-8";
@import url('./style.css');

html, body {
  background: #fafafa;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
}

html {
  color-scheme: light;
}

body {
  font-family: 'Inter', 'Noto Color Emoji', system-ui, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fafafa !important;
}

@-webkit-keyframes bgdor {
  0% { background-position: 0px 0px;background-size: 50px; }
  25% { background-position: 25vw -25vw;background-size: 45px; }
  50% { background-position: 50vw 0vw;background-size: 50px; }
  75% { background-position: 25vw 25vw;background-size: 45px; }
  100% { background-position: 0px 0px;background-size: 50px; }
}

@-moz-keyframes bgdor {
  0% { background-position: 0px 0px;background-size: 50px; }
  25% { background-position: 25vw -25vw;background-size: 45px; }
  50% { background-position: 50vw 0vw;background-size: 50px; }
  75% { background-position: 25vw 25vw;background-size: 45px; }
  100% { background-position: 0px 0px;background-size: 50px; }
}

@-o-keyframes bgdor {
  0% { background-position: 0px 0px;background-size: 50px; }
  25% { background-position: 25vw -25vw;background-size: 45px; }
  50% { background-position: 50vw 0vw;background-size: 50px; }
  75% { background-position: 25vw 25vw;background-size: 45px; }
  100% { background-position: 0px 0px;background-size: 50px; }
}

@keyframes bgdor {
  0% { background-position: 0px 0px;background-size: 50px; }
  25% { background-position: 25vw -25vw;background-size: 45px; }
  50% { background-position: 50vw 0vw;background-size: 50px; }
  75% { background-position: 25vw 25vw;background-size: 45px; }
  100% { background-position: 0px 0px;background-size: 50px; }
}

#home {
  border-radius: 2px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bgdor 30s infinite; /* Safari 4+ */
  -moz-animation: bgdor 30s infinite; /* FireFox 5+ */
  -o-animation: bgdor 30s infinite; /* Opera 12+ */
  animation: bgdor 30s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

#home::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(250, 250, 250, 0.45);
  box-shadow: inset 0 0 7px 25px #fafafa;
}

#home * {
  z-index: 1;
}

#headline {
  position: relative;
  margin: 0 1rem;
  font-size: calc(22px + 2vw);
  line-height: 1.97;
  letter-spacing: -0.2px;
  font-weight: 800;
  text-align: center;
  transition: .1s font-size;
  @media (max-width: 575px) {
    font-size: calc(18px + 1.8vw);
  }
}

#typing {
  background: -webkit-linear-gradient(#22d3ee, #0ea5e9) -moz-radial-gradient(#22d3ee, #0ea5e9) linear-gradient(#22d3ee, #0ea5e9);
  background: -moz-radial-gradient(#22d3ee, #0ea5e9);
  background: linear-gradient(#22d3ee, #0ea5e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #22d3ee;
  transform: scale(1.35);
  font-weight: bold;
}

#headdoc {
  margin: 20px auto;
  color: #737373;
  font-size: 1rem;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: calc(100% - 32px);
  max-width: 400px;
  @media (min-width: 750px) {
    max-width: 580px !important;
  }
}

.link-btn {
  position: relative;
  min-width: 250px;
  width: 245px;
  height: 54px;
  margin-top: 3rem;
  border-radius: 8px;
  background: #2699f8;
  font-weight: 500 !important;
  font-size: 18px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
  margin-bottom: 3rem;
  cursor: pointer;
}

.link-btn .link {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-decoration: none;
  font-family: 'Inter', 'Noto Color Emoji', system-ui, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  color: #fff;
}

#footer {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  text-align: center;
}

#footer * {
  font-size: 14px;
  font-weight: bolder;
  color: #A3A3A3;
  transition: .2s color;
}

#footer span a:hover {
  color: #6ca5ff;
  text-decoration: underline;
}