@charset "utf-8";
@import url('./font.css');
@import url('./mui.min.css');

* {
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[scrollbar="hide"]::-webkit-scrollbar {
  background: transparent !important;
  width: 0px !important;
  height: 0px !important;

  -ms-overflow-style: none !important; /* IE 11 */
  scrollbar-width: none !important; /* Firefox 64 */
  display: none !important; /* Default */
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  [scrollbar="hide"] {
    scrollbar-width: none !important;
  }
}

.hide {
  display: none !important;
}

#loading {
  position: fixed;
  z-index: 1000;
  top: -1px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 5px;
  overflow: hidden;
  background: transparent;
}

#loading:not(.active) {
  top: -5px;
}

#loading-bar {
  background: #21c2ee linear-gradient(#21c2ee, #2699f8);
  width: 0%;
  height: 5px;
  border-radius: 0 1px 1px 0;
}

@-webkit-keyframes load-bar {
  0%   { width: 0%  ; }
  45%  { width: 25% ; }
  60%  { width: 50% ; }
  70%  { width: 60% ; }
  100% { width: 100%; }
}

@-moz-keyframes load-bar {
  0%   { width: 0%  ; }
  45%  { width: 25% ; }
  60%  { width: 50% ; }
  70%  { width: 60% ; }
  100% { width: 100%; }
}

@-o-keyframes load-bar {
  0%   { width: 0%  ; }
  45%  { width: 25% ; }
  60%  { width: 50% ; }
  70%  { width: 60% ; }
  100% { width: 100%; }
}

@keyframes load-bar {
  0%   { width: 0%  ; }
  45%  { width: 25% ; }
  60%  { width: 50% ; }
  70%  { width: 60% ; }
  100% { width: 100%; }
}

#loading.active #loading-bar {
  -webkit-animation: load-bar 620ms forwards; /* Safari 4+ */
  -moz-animation: load-bar 620ms forwards; /* FireFox 5+ */
  -o-animation: load-bar 620ms forwards; /* Opera 12+ */
  animation: load-bar 620ms forwards; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}